*{
padding: 0;
margin: 0;
}


.nav{
display: flex;
background: #012D63;
justify-content: space-between;
padding: 16px 140px;
align-items: center;

}
.ul{
    display: flex;
}
.nav-language{
    display: flex;
    color: white;
    font-size: 24px;
   
}
.li{
    list-style: none;
    color: white;
    font-size: 24px;
    margin-right: 50px;
}
.language{
    margin-right: 20px;
}
.main{
    background:url(/nike.png) no-repeat center/cover;
    padding: 94px 0px 183px 140px;
}
.main-total{
    color: white;
    font-size: 140px;
}
.rawe{
    color: white;
    font-size: 72px;
}
.zapatos{
    color: white;
    font-size: 18px;
    width: 508px;
}
.red{
    background: #8e32c6;
    padding: 16px 60px;
    color: white;
    margin-top: 30px;
}
.section{
    background: url(/imagenes/Group\ 8\ 1.png) no-repeat center/cover;
    padding: 105px 160px;
}
.section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #8e32c6 ;
    padding:  25px 50px ;
    column-gap: 125px;
}
.section-total{
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    color: white;
}
.section-item{
    position: relative;
}
.section-item:not(:last-child)::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 346px ;
    height: 2px;
    transform: rotate(-90deg);
    top: 150px;
    right: -250px;
}
.section-item:first-child::after{
        top :180px ;
}
.reviews-title{
    font-size: 48px;
    color: white;
    text-align: center;
}
.reviews{
    background: url(/imagenes/Group\ 6\ 1.png) no-repeat center/cover;
    position: relative;
    padding-top: 25px;
    padding-bottom: 120px;
}
.reviews-cards-item{
    display: flex;
    justify-content: center;
    column-gap: 39px;
    margin-top: 25px;
}
.reviews::before{
    content: "";
    position: absolute;
    width:  340px;
    height: 400px;
    background: url(/imagenes/Цветы.png) no-repeat center/cover;
    top: 180px;
    
}
.Order{
    background: url(/imagenes/palma.png) no-repeat center/cover;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.email{
    width: 690px;
    margin: 0 auto;

}
.Country{
    width: 590px;
    margin: 0 auto;
}
.City{
    width: 590px;
    margin: 0 auto;
}
.Adress{
    width: 590px;
    margin: 0 auto;
}
.Title{
    text-align: center;
    font-size: 48px;
    color: white;
}
.Order-Nike{
    height: 68px;
    width: 228px;
    margin: 0 auto;
    background :#8E32C6 ;
    color: white;
}



